@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}


body {
  font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
}

.header {
  background-color: rgb(245, 241, 238);
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 60px;
  padding-left: 60px;
  padding-top: 20px;
  padding-bottom: 20px;
  max-width: 1200px;
  margin: 0px auto;
}

.left {
    height: 100px;
    display: flex;
}

.logo-icon {
  font-size: 24px;
  padding-right: 8px;
  color: rgb(230, 121, 32);
}

.logo {
  font-size: 20px;
  font-weight: bold;
}
.logo .log-img{
    font-size: 50px;
    width: 100px;
    height: 100px;
    object-fit: contain;
    display: inline;
}

.right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  color: black;
  padding-left: 4px;
  padding-right: 40px;
}

.menu-icon {
  display: flex;
  padding: 0px;
}

.bar-icon {
  font-size: 48px;
  display: none;
}

.menu:hover {
  color: blue;
}

.btn {
  border-radius: 8px;
  background-color: blue;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: 1px solid rgb(173, 173, 173);
  white-space: nowrap
}







.hero {
  max-width: 1600px;
  display: flex;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 10px;
  padding-right: 10px;
  justify-content: center;
  align-items: center;
  margin: 0px auto;
  border-bottom: 1px solid rgb(201, 201, 201);
  /* display: none; */
  z-index: -99;
  background-color: skyblue;
}

.left-part {
  max-width: 50%;
  padding-right: 40px;
}

.texts {
  padding-right: 40px;
}

.hero-text {
  font-size: 64px;
  font-weight: bold;
  padding-bottom: 24px;
  line-height: 110%;
}

.first-line {
  color: blue;
  white-space: nowrap;
}

.body-text {
  padding-bottom: 42px;
  padding-right: 40px;
  line-height: 180%;
}

.input-button {
  display: flex;
}

.input-box {
  padding: 10px 32px;
}



.right-part {
  max-width: 50%;
  padding-top: 60px;
  padding-left: 40px;
}

img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-clip: content-box;
  
}

.containera {
  position: relative;
}

.big-image {
  border-radius: 24px;
}

.image-shapes1 {
  height: 140px;
  width: 140px;
  background-color: rgb(218, 94, 218);
  border-radius: 4px 40px;
  position: absolute;
  left: 50%;
  top: -19%;
  transform: translate(-50%, -50%);
  z-index: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: stretch;
}


.image-shapes2 {
  height: 80px;
  width: 80px;
  background-color: rgb(204, 204, 223);
  border-radius: 20%;
  position: absolute;
  left: 0%;
  top: 0%;
  display: flex;
  justify-content: center;
  align-items: stretch;

  transform: translate(-50%, -50%);
  z-index: 1;
  overflow: hidden;
}

.grid-shapes3 {
  position: absolute;
  bottom: 20%;
  right: 90%;
  z-index: -2;
}


.grids {
  display: flex;
}

.grid {
  width: 4px;
  height: 4px;
  background-color: rgb(190, 196, 221);
  border-radius: 60%;
  margin: 6px;
}






.feture {
  padding: 100px 60px;
  max-width: 1200px;
  margin: 0px auto;
  /* display: none; */
}

.top-content {
  position: relative;
  padding-bottom: 60px;
}

.grid-shapes4 {
  position: absolute;
  top: 50%;
  left: -5%;
  z-index: -1;
}

.top-texts {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.main-text {
 margin-right: 40px;
  font-size: 60px;
  font-weight: bold;
  line-height: 100%;
  color:blue
}


.feture .body-text {
  padding-left: 90px;
  line-height: 170%;
}




.cards {
  display: flex;
  flex-wrap: wrap;
}

.card123 {
  max-width: 33.33%;
  padding: 32px 24px;
  border-radius: 16px;
}

.card123:first-child {
  padding-left: 0px;
}

.card123:last-child {
  padding-right: 0px;
}

.card-icon-shape {
  position: relative;
}

.icon-shape {
  width: 60px;
  height: 60px;
  background-color: skyblue;
  border-radius: 60%;
  position: absolute;
  z-index: -1;
}

.bi-person-circle {
  font-size: 40px;
}

.card-texts {
  display: flex;
  flex-direction: column;
}

.big-text {
  font-size: 24px;
  padding-bottom: 12px;
  padding-top: 40px;
}

.small-text {
  padding-top: 12px;
  color: rgb(107, 107, 107);
}


.service {
  background-color: rgb(5, 40, 236);
  overflow: hidden;
  position: relative;
  /* display: none; */
}

.section-container {
  max-width: 1200px;
  padding: 100px 60px;
  margin: 0px auto;
}

.service-top {
  width: 80%;
  display: flex;
  flex-direction: column;
  padding-bottom: 56px;
}


.section-title {
  font-size: 56px;
  font-weight: bold;
  padding-bottom: 12px;
  color: white;
}

.section-body {
  font-size: 20px;
  color: rgb(214, 206, 206);

}

.service-bottom {
  display: flex;
  justify-content: space-between;
  padding-top: 24px;
}

.card-left {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
}



.icon-and-text {
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 48px;
  padding-right: 48px;
  justify-content: center;
  align-items: center;
  color: rgb(250, 250, 250);
  border-radius: 12px;
  transition: 0.5s;
  margin-bottom: 20px;
}

.active {
  background-color: rgb(240, 245, 238);
  color: rgb(2, 2, 2);
}


.icon-and-text:hover {
  background-color: rgb(231, 233, 223);
  color: black;
}

.icon {
  font-size: 20px;
  color: rgb(0, 0, 0);
  padding-right: 8px;
}

.text {
  font-size: 20px;
}


.card-right {
  display: flex;
  padding: 40px;
}

.card-item2 {
  display: flex;
  flex-direction: column;
  padding: 20px 28px;
}

.text1 {
  font-size: 60px;
  font-weight: bold;
  padding-bottom: 24px;
  color: rgb(212, 209, 209);
  opacity: 0.3;
}

.text2 {
  font-size: 24px;
  padding-bottom: 8px;
  color: white;
}

.text3 {
  padding-bottom: 8px;
  font-size: 18px;
  color: rgb(196, 190, 190);
}


.section-shapes1 {
  position: absolute;
  top: -110px;
  right: -150px;
  z-index: 1;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 60%;
  outline: 4px solid rgb(238, 230, 230);
}

.one {
  height: 60px;
  width: 60px;
}


.two {
  width: 120px;
  height: 120px;
}

.three {
  width: 180px;
  height: 180px;
}

.four {
  width: 240px;
  height: 240px;
}

.five {
  width: 300px;
  height: 300px;
}


.section-shapes2 {
  width: 100px;
  height: 100px;
  background-color: skyblue;
  border-radius: 60%;
  position: absolute;
  top: 36px;
  right: -12px;
}






.content-section1 {
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 60px;
  margin: 0px auto;
  /* display: none; */
}

.content-left {
  width: 50%;
  position: relative;
  padding-right: 80px;
}

.left-big-shapes {
  position: relative;
}

.left-big-shapes::before {
  content: "s";
  width: 100%;
  height: 80%;
  background-color: skyblue;
  border-radius: 60px;
  position: absolute;
  bottom: 5px;
  z-index: -1;
}


.big-image {
  border-radius: 60px;
}



.left-cricle {
  width: 140px;
  height: 140px;
  background-color: blue;
  border-radius: 60%;
  position: absolute;
  bottom: 60px;
  left: -60px;
  z-index: -2;
}

.left-grid {
  position: absolute;
  top: 36px;
  left: -36px;
  z-index: -2;
}

.left-card {
  background-color: skyblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 50px;
  border-radius: 20px;
  position: absolute;
  right: 120px;
  bottom: -70px;
}

.text-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tex100 {
  font-size: 44px;
  font-weight: bold;
  padding-right: 12px;
  color: white;
}

.up-icon {
  font-size: 30px;
}

.down-text {
  font-size: 20px;
  color: rgb(209, 209, 209);
}

.content-right {
  width: 50%;
}

.right-texts {
  padding-right: 40px;
}

.frist-text {
  font-size: 48px;
  font-weight: bold;
  line-height: 100%;
  padding-bottom: 20px;
}

.secound-text {
  font-size: 20px;
  line-height: 170%;
}









.content-section2 {
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 60px;
  margin: 0px auto;
  /* display: none; */
}

.section2-left {
  width: 55%;
  padding-right: 32px;
}


.section2-right {
  width: 45%;
  padding-left: 50px;
  position: relative;
}

.right-card {
  display: flex;
  flex-direction: column;
  padding: 26px;
  background-color: rgb(255, 255, 255);
  box-shadow: 1px 1px 5px #dadada;
  border-radius: 24px;
}

.right-card-text1 {
  padding: 24px 44px;
  border-radius: 8px;
}

.active {
  background-color:aliceblue;
}

.number-text-top {
  padding-bottom: 16px;
  font-size: 32px;
  font-weight: bold;
  color: black;
}

.number-text-bottom {
  font-size: 18px;
  color: rgb(102, 99, 99);
}

.right-cricle {
  width: 160px;
  height: 160px;
  background-color: skyblue;
  border-radius: 60%;
  position: absolute;
  left: -10px;
  bottom: 100px;
  z-index: -1;
}

.right-grids {
  position: absolute;
  top: -30px;
  right: -30px;
  z-index: -1;
}






.review-section {
  background-color: rgb(245, 243, 236);
  display: none;
}

.review-container {
  max-width: 1200px;
  margin: 0px auto;
  display: flex;
  padding: 100px 60px;
  flex-wrap: wrap;
}

.card {
  display: flex;
  flex-direction: column;
  padding-right: 32px;
  width: 33.33%;
  margin-bottom: 32px;
}

.star-icon {
  padding-bottom: 28px;
}

.bi-star-fill {
  font-size: 24px;
  color: black;
}

.card-text {
  font-size: 20px;
  color: rgb(102, 102, 102);
  padding-bottom: 28px;
  padding-right: 40px;
}

.card-person-info {
  display: flex;
  align-items: center;
}

.card-image {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 60%;
}

.person-texts {
  padding-left: 24px;
}


.person-name {
  font-size: 24px;
  font-weight: bold;
  color: rgb(0, 0, 0);
  padding-bottom: 4px;
}

.person-sar-name {
  font-size: 16px;
  color: rgb(97, 95, 95);
}







.stats-section {
  max-width: 1200px;
  margin: 0px auto;
  display: flex;
  padding: 100px 60px;
  border-top: 1px solid rgb(196, 196, 196);
  flex-wrap: wrap;
  /* display: none; */
}

.state-card {
  width: 25%;
}



.card-number-text1 {
  font-size: 36px;
  font-weight: bold;
  padding-bottom: 16px;
}


.blue {
  color: rgb(0, 0, 179);
}

.orange {
  color: skyblue;
}

.green {
  color: black;
}

.yellow {
  color: blue;
}

.card-number-text2 {
  font-size: 20px;
  line-height: 150%;
  padding-top: 8px;
}





.cta-section {

  background-color: skyblue;
  position: relative;
  overflow: hidden;
  /* display: none; */
}

.cta-container {
  padding: 100px 60px;
  max-width: 1200px;
  margin: 0px auto;

}

.cta-shape {
  width: 400px;
  height: 400px;
  background-color: black;
  border-radius: 60%;
  position: absolute;
  top: -280px;
  left: -100px;
}


.cta-texts {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-text {
  font-size: 48px;
  font-weight: bold;
  padding-bottom: 40px;
  color: rgb(248, 248, 248);
}

.color {
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  padding: 20px 40px;
}

.btn-box {
  padding: 20px 24px;
  background-color: blue;
}








.fotter-scetion {
  background-color: blue;
}

.fotter-container {
  max-width: 1200px;
  margin: 0px auto;
  display: flex;
  padding: 100px 60px;
  padding-top: 20px;
}

.fotter-left-part {
  width: 30%;
  padding-right: 40px;
  flex-wrap: wrap;
}

.logos-text {
  font-size: 28px;
  font-weight: bold;
  padding-bottom: 24px;
  color: white;
}

.logos-body-text {
  font-size: 16px;
  color: rgb(158, 158, 158);
}




.fotter-right-part {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
}

.right-part1 {
  width: 33.33%;
  padding-left: 12px;
}


.fmenu {
  font-size: 16px;
  padding-bottom: 24px;
  color: rgb(187, 187, 187);
}

.fmenu-links {
  font-size: 18px;
  display: flex;
  flex-direction: column;
}

.menu1 {
  padding-bottom: 12px;
  text-decoration: none;
  color: rgb(250, 243, 243);
}

.location.one {
  display: flex;
  align-items: center;
}

.pin-icon {
  padding-right: 8px;
  color: white;
}

.name-county {
  font-size: 18px;
  color: rgb(212, 209, 209);
  padding-left: 8px;
}







@media screen and (max-width: 780px) {

  .container {
    display: flex;
    justify-content: space-between;
    padding: 0px 40px;
  }

  .right {
    display: none;
  }

  .left-part {
    max-width: 100%;
  }

  .bar-icon {
    display: block;
  }




  .hero {
    display: flex;
    flex-direction: column;
    padding: 40px;
  }

  .left-part {
    width: 100%;
    padding-bottom: 100px;
  }

  .right-part {
    width: 100%;
    padding-top: 100px;
  }

  .hero-text {
    font-size: 48px;
  }





  .feture {
    display: flex;
    flex-direction: column;
  }

  .top-content {
    width: 100%;
  }

  .main-text {
    font-size: 40px;
  }

  .grid-shapes4 {
    position: absolute;
    top: 10%;
    left: -8%;
    z-index: -1;
  }

  .card123 {
    max-width: 50%;
  }

  .top-texts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .main-text {
    padding-bottom: 18px;
  }



  .service-top {
    width: 100%;
  }

  .section-title {
    font-size: 40px;
  }

  .service-bottom {
    flex-direction: column;
  }

  .card-left {
    align-items: center;
  }

  .card-right {
    padding: 10px;
  }





  .content-section1 {
    flex-direction: column;
    padding-top: 100px;
    padding-bottom: 80px;
    width: 100%;
  }

  .content-right {
    width: 100%;
    padding-top: 140px;
  }

  .right-texts {
    width: 100%;
  }





  .content-section2 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .section2-left {
    width: 100%;
    padding-bottom: 80px;
  }

  .section2-right {
    width: 100%;
    padding-top: 80px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .right-grids {
    position: absolute;
    top: 40px;
    right: -20px;
  }

  .right-texts {
    width: 100%;
    padding: 0px;
  }

  .section2-left {
    width: 100%;
  }

  .section2-right {
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
  }

  .card {
    width: 50%;
    padding-bottom: 48px;
  }

  .cta-shape {
    left: -280px;
    top: -300px;
  }






  .stats-section {
    display: flex;
  }

  .state-card {
    width: 50%;
    padding-bottom: 70px;
  }





  .fotter-container {
    display: flex;
    flex-direction: column;
  }

  .fotter-left-part {
    width: 100%;
    padding-bottom: 60px;
  }

  .fotter-right-part {
    width: 100%;
  }

  .right-part1 {
    width: 50%;
    padding-bottom: 60px;
  }

}